{% extends "layout.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<h1>{{ block('title') }}</h1>

{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">
    {{ flashMessage }}
</div>
{% endfor %}

<div class="container well">
        <div class="row">
            <div class="col-sm-offset-3 col-sm-6">
                {{ form_start(billetForm) }}
                    <div class="form-group">
                        {{ form_errors(billetForm.title) }}
                        {{ form_widget(billetForm.title, {'attr': {
                            'class': 'form-control',
                            'placeholder': 'Insérez votre titre'
                        }}) }}
                    </div>
                    <div class="form-group">
                        {{ form_errors(billetForm.content) }}
                        {{ form_widget(billetForm.content, {'attr': {
                            'rows': '12'
                        }}) }}
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span> {{ messageButton }}
                        </button>
                    </div>
                {{ form_end(billetForm) }}
        </div>
    </div>
</div>
{% endblock %}