<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src='//cloud.tinymce.com/stable/tinymce.min.js'></script>
        <script>
            tinymce.init({
                selector: 'textarea#billet_content',
            });
        </script>

        <link href="{{ asset('/css/writerblog.css') }}" rel="stylesheet">
        <title>writerblog - {% block title %}{% endblock %}</title>
    </head>
    <body>
    
        <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" role="button" href=" {{ path('home') }} "><span class="glyphicon glyphicon-home"></span> Accueil</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    {% if app.user and is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('admin') }}"><span class="glyphicon glyphicon-cog"></span> Administration</a></li>
                    {% endif %}
                    <li class="dropdown">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> Bienvenue {{ app.user.username }} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('logout') }}">Déconnexion</a></li>
                        {% else %}
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> Se connecter <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('login') }}">Connexion</a></li>
                        {% endif %}                        
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
        </nav>
        
        <section>
            <div>{% block content %}{% endblock %}</div>
        </section>

        <footer>
            <p>{{'&copy;'}} Projet 4 : blog pour un écrivain - 2017 OpenClassrooms - Claire Serra</p>
        </footer>
        
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

        <!-- JavaScript Boostrap -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>